@page
@model Veterinaria.App.Presentacion.AdminMascotaModel
@{
}



<h3 style="color: #929292; font-size: 24px; font-weight: 400; margin-top: 25px; margin-bottom: 25px;">
    @Model.titulo
</h3>


<div id="accordion">


    @* <button type="submit" class="btn btn-primary bg-danger" onclick="actualizarLista()">Actualizar lista</button> *@

    <div class="card">

        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#id-collapse-lista-veterinarios"
                    aria-expanded="true" aria-controls="id-collapse-lista-veterinarios">
                    Lista mascotas
                </button>                
            </h5>
             <a type="submit" class="btn btn-primary"  asp-page="/Admin/AdminCuidador" 
             style="position: absolute;top: 12px; right: 20px;">Regresar</a>
        </div>

        <div id="id-collapse-lista-veterinarios"
        class="@(Model.modoPage == "adicion" ? "collapse show" : "collapse")"
         aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Raza</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var v in Model.cuidadorActual.Mascotas)
                        {
                            <tr>
                                @* <th scope="row">1</th> *@
                                <td>@v.Id</td>
                                <td>@v.nombre</td>
                                <td>@v.raza</td>
                                <td>
                                    <div class="container" style="max-width: 435px; margin: 0;">
                                        <div class="row" style="max-width: inherit;">
                                            <div class="col-sm" style="max-width: fit-content;">
                                                <a  class="btn btn-primary bg-success"
                                                asp-page="/Admin/AdminCuidador" asp-route-idCuidador="@v.Id"
                                                style="margin-right: 20px">Editar</a>
                                            </div>
                                            <div class="col-sm" style="max-width: fit-content;">
                                                <form method="POST">
                                                    <button type="submit" class="btn btn-primary bg-danger" asp-page-handler="Del"
                                                            asp-route-idCuidador="@v.Id">Eliminar</button>
                                                </form>
                                            </div>  

                                             <div class="col-sm" style="max-width: fit-content;">
                                                    <a  class="btn btn-primary bg-info"
                                                        asp-page="/Admin/AdminVeterinario" asp-route-idCuidador="@v.Id"
                                                        style="margin-right: 20px">Ver mascotas</a>
                                             </div>                                                                                                                            
                                        </div>
                                    </div>                                                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">

        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#id-collapse-admin-veterinario"
                    aria-expanded="true" aria-controls="id-collapse-admin-veterinario">
                    Información de la mascota
                </button>
            </h5>
        </div>

        <div id="id-collapse-admin-veterinario"
         class="@(Model.modoPage == "edicion" ? "collapse show" : "collapse")"
         aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="POST">
                    <div class="container">

                        <div class="row">

                             <input  asp-for="@Model.cuidadorActual.Id"
                                    type="hidden" class="form-control"name="CuidadorId">

                            <div class="col-sm">
                                <div class="form-group">
                                    <label >Nombre <b>(*)</b></label>
                                    <input autocomplete="off"
                                    asp-for="@Model.mascotaActual.nombre"
                                    type="text" class="form-control"  required
                                        placeholder="Digita tu nombre aquí" name="nombre">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                     <label class="mr-2 p-2">Seleccione la raza: </label>
                                    <select required  asp-for="@Model.mascotaActual.raza" name="raza" 
                                    class="form-select form-select-lg mb-3 p-2" aria-label=".form-select-lg example">
                                        @* <option value="Internista">Pincher</option>
                                        <option value="Cirujano">San bernardo</option> *@
                                        @foreach (var v in Model.listaVeterinarios){
                                            <option value="@v.Id">@v.Nombre</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Fecha de nacimiento</label>
                                    <input  required asp-for="@Model.mascotaActual.fechaNacimiento" type="date" class="form-control"
                                        name="fechaNacimiento">
                                </div>
                            </div>
                        </div>
                    </div>

  
                    <div class="container" style="margin: 20px 20px 20px 15px;">
                        <div class="row">
                            <button type="submit" class="btn btn-primary" style="margin-right: 20px"
                                asp-page-handler="Add">
                                Agregar
                            </button>
                        
                        @if(Model.modoPage == "edicion") {
                            <button type="submit" class="btn btn-primary" style="margin-right: 20px"
                                asp-page-handler="Edit">
                                Editar
                            </button>
                        }

                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>





</div>